
.playerName{
    color: white;
}

.resultListTile{
    padding: 1rem;
    width: 50vw;
    height: 2rem;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    background-color: #DD7BFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;   
    align-items: center;
}


.tileText{
    color: aliceblue;
    display: flex;
    flex-direction: row;   
    align-items: center;
}
.tileStart{
    display: flex;
    flex-direction: row;   
    align-items: center;
}


#placementNumber{
    margin-right: 0.5rem;
}