#reportIcon {
  color: white;
}

#reportButtonText {
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  #reportButtonText {
    font-size: 0.7rem;
  }
}

#reportQuizWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
