
#startGameButton{
    height: 3.5rem;
    width: 7rem;
    background-color: #6A6DD2;
    color: aliceblue;
    border-radius: 1rem;
    font-weight: bolder;
    position: absolute;
    right: 40px;
    border-color: #6A6DD2;
}