.lobbyTitle {
    text-align: center;
    font-size: 2.7rem;
    color: aliceblue;
    font-weight: bolder;
}

.lobbyPage {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lobbyCodeTitle{
    text-align: center;
    font-size: 1.6rem;
    color: gainsboro;
    font-weight: bold;
}

.playerNameInput{
    align-self: center;
    align-content: center;
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto; /* Adjust column sizes as needed */
}

#actions {
    position: absolute;
    right: 2vw;
    margin-left: auto;
    display: grid;
    grid-template-columns: auto auto;
}

#counter {
    margin-right: 1000px;
}