.startpage{
    display: flex;
    flex-direction: column;
}

.startpageTop{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.myQuizzes{
    padding: 40px;
    padding-top: 0;
}